<h1>Converter</h1>
<form action="" (submit)="onFormSubmit()">
  <label>Money:</label>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Manat</span>
    </div>
    <input
      [(ngModel)]="money"
      (keyup)="onMoneyChange()"
      type="number"
      name="money"
      class="form-control"
      aria-label="Amount (to the nearest dollar)"
    />
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>

  <label for="result">Currency:</label>
  <select
    (change)="onCurrencyChanged()"
    name="currency"
    id="currency"
    class="form-control"
    [(ngModel)]="currency"
  >
    <option value="USD">USD</option>
    <option value="AZN">AZN</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
    <option value="UAH">UAH</option>
  </select>

  <label for="result">Result:</label>
  <input
    [value]="result | digits: 2"
    type="number"
    readonly
    id="result"
    name="result"
    class="form-control"
  />
</form>
